# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Test caches
.pytest_cache/
.coverage
htmlcov/

# Video outputs & recordings
*.mp4
*.avi
*.mov

# Environment / IDE
.vscode/
.idea/
*.swp
*.metadata.json
